<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/css/style.css")
  body
    block content
      h2 Сброс пароля
      form(method='POST')
        .form-group
          input.form-control(type='password', name='password', value='', required=true  placeholder='Новый пароль', autofocus=true )
        .form-group
          input.form-control(type='password', name='confirm', require=true value='', placeholder='Подвердить пароль')
        .form-group
          button.btn.btn-primary(type='submit') Обновить пароль
